body {
    color: white;
}
.login-page {
    background-image: url('../../images/loginScreen.png');
    background-size: cover;
    height: 100vh;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 550px;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    background-color: rgba(44, 36, 36, 0.9);
    overflow: hidden;
    transition: width 0.5s ease-in-out;
}

@media (max-width: 1000px) {

    .login-form {
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        transform: none;
    }
}